steamjazz/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
steamjazz/bin/Debug/steamjazz.exe
*.exe
steamjazz/bin/Debug/steamjazz.pdb
steamjazz/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
steamjazz/obj/Debug/steamjazz.csproj.FileListAbsolute.txt
steamjazz/obj/Debug/steamjazz.csproj.GenerateResource.Cache
steamjazz/obj/Debug/steamjazz.pdb